a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.modal {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  background-color: #7e7e83;
  height: 100vh;
}

.container {
  padding-inline: 20px;

}

.top__part {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  margin-bottom: 24px;
}

.close__button {
  cursor: pointer;
}

.navList {
  display: flex;
  flex-direction: column;
  gap: 32px;
}


.book {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.book__description {
  position: relative;
  width: fit-content;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 16px;
}

.book__description::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #1d1d1d;
}

.book__link {
  color: #1d1d1d;
  line-height: 27px;
  font-size: 16px;
}

.nav__link {
  line-height: 22px;
  letter-spacing: 2px;
  font-size: 22px;
  text-transform: uppercase;
}
